.movies-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.headerTitleLeft{
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #fff;
}
.headerSubTitleLeft{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    list-style: 24px;
}
.header-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-self:flex-end;
}
.header-title{
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
}
.header-subtile {
    justify-content: center;
    align-self: center
}