/* SignInForm.css */
.error {
    color: #EB5757;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
}

form {
    width: 300px;
    /* border: 1px solid #ccc;
    border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}




.input {
    width: 100%;
    height: 45px;
    /* padding: 8px; */
    margin-bottom: 16px;
    /* box-sizing: border-box; */
    background-color: #224957;
    border: none;
    border-color: transparent;
    padding-left: 16px;
    border-radius: 5px;
    color:#fff;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 64px;
    font-size: 14px;
}

.input-checkbox:checked {
    height: 24px;
    accent-color: #224957;
}


input::placeholder{
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 64px;
    font-size: 14px;
}


.header-label{
    color:#FFFFFF;
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 80px;
    font-size: 64px;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    margin-bottom: 16px;
    /* Adjust as needed */
}
.remember-me-label{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 24px;
    margin-left: 10px;
}
.button-label{
    background-color: #2BD17E;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 54px;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
}