
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-PrimaryBTN{
  background-color: #2BD17E;
}

.App-Error{
  color: #EB5757;
}
.App-BgColor{
  background-color: #093545;
}
.App-InputBG{
  background-color: #224957;
}
.App-CardBG{
  background-color: #092C39;
}
.App-fontFamily{
  font-family: 'Montserrat'
}